<div class="layout layout--col gap--space-between">
  <div class="grid">
    <div class="row row--center col--span-2 col--end">
      <img class="weather-image" src="https://usetrmnl.com/images/plugins/weather/{{ image_day[0] }}">
    </div>
    <div class="col col--span-3 col--end gap--medium">
      <div class="item">
        <div class="meta"></div>
        <div class="icon">
          <img class="weather-icon" src="https://usetrmnl.com/images/plugins/weather/wi-thermometer.svg">
        </div>
        <div class="content">
          <span class="value value--small">{{ current.temperature_2m | round }}°</span>
          <span class="label">Temperature</span>
        </div>
      </div>
      <div class="item">
        <div class="meta"></div>
        <div class="icon">
          <img class="weather-icon" src="https://usetrmnl.com/images/plugins/weather/wi-raindrops.svg">
        </div>
        <div class="content">
          <span class="value value--small">{{ current.relative_humidity_2m }}%</span>
          <span class="label">Humidity</span>
        </div>
      </div>
      <div class="item">
        <div class="meta"></div>
        <div class="icon">
          <img class="weather-icon" src="https://usetrmnl.com/images/plugins/weather/wi-hot.svg">
        </div>
        <div class="content">
          <span class="value value--small">{{ daily.uv_index_max[0] | round }}</span>
          <span class="label">UV Index</span>
        </div>
      </div>
    </div>
  </div>
  <div class="border--h-6 w--full"></div>
  <!-- forecast -->
  <div class="grid grid--cols-3">
    {% for i in (1..3) %}
    <div class="col col--start gap--medium text--center">
      {% if forloop.index == 1 %}
      <span class="title">Tomorrow</span>
      {% else %}
      <span class="title">{{ daily.time[i] | date: "%A" }}</span>
      {% endif %}
      <div class="w--full">
        <img class="weather-icon" src="https://usetrmnl.com/images/plugins/weather/{{ image_day[i] }}">
        <br/>
        <span class="description">{{ condition[i] }}</span>
      </div>
      <div class="w--full">
        <span class="value value--xsmall">{{ daily.temperature_2m_min[i] | round }}° / {{ daily.temperature_2m_max[i] | round }}°</span>
      </div>
      <div class="w--full">
        <div class="flex flex--row gap--xsmall">
          <img class="weather-icon-mini" src="https://usetrmnl.com/images/plugins/weather/wi-hot.svg">
          <span class="value value--xxsmall mr--1">{{ daily.uv_index_max[i] | round }}</span>
          <img class="weather-icon-mini" src="https://usetrmnl.com/images/plugins/weather/wi-rain.svg" />
          <span class="value value--xxsmall">{{ daily.precipitation_probability_max[i] }}%</span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="title_bar">
  <img class="image" src="https://usetrmnl.com/images/plugins/weather--render.svg">
  <h1 class="title">Daily Weather</h1>
  <span class="instance">{{ trmnl.plugin_settings.custom_fields_values.location_name }}</span>
</div>