<div class="layout">
  <div class="grid grid--cols-3">
    <div class="col col--start gap text--center">
      <span class="title">{% if is_before_noon %}Today{% else %}Tomorrow{% endif %}</span>
      <div class="w--full">
        <img class="weather-icon" src="https://usetrmnl.com/images/plugins/weather/{{ image_day[0] }}">
        <br/>
        <span class="description">{{ condition[0] }}</span>
      </div>
      <div class="w--full">
        <span class="value value--xsmall">{{ daily_temps_min[0] | round }}째 / {{ daily_temps_max[0] | round }}째</span>
      </div>
      <div class="w--full">
        <div class="flex flex--row gap--xsmall">
          <img class="weather-icon-mini" src="https://usetrmnl.com/images/plugins/weather/wi-raindrops.svg">
          <span class="value value--xxsmall mr--1">{{ current.humidity }}%</span>
          <img class="weather-icon-mini" src="https://usetrmnl.com/images/plugins/weather/wi-rain.svg" />
          <span class="value value--xxsmall">{{ daily_rain_prob[0] | round }}%</span>
        </div>
      </div>
    </div>
    {% for i in (1..2) %}
    <div class="col col--start gap text--center">
      {% if forloop.index == 1 %}
      <span class="title">{% if is_before_noon %}Tomorrow{% else %}{{ daily_dates[i] | date: "%A" }}{% endif %}</span>
      {% else %}
      <span class="title">{{ daily_dates[i] | date: "%A" }}</span>
      {% endif %}
      <div class="w--full">
        <img class="weather-icon" src="https://usetrmnl.com/images/plugins/weather/{{ image_day[i] }}">
        <br/>
        <span class="description">{{ condition[i] }}</span>
      </div>
      <div class="w--full">
        <span class="value value--xsmall">{{ daily_temps_min[i] | round }}째 / {{ daily_temps_max[i] | round }}째</span>
      </div>
      <div class="w--full">
        <div class="flex flex--row gap--xsmall">
          <img class="weather-icon-mini" src="https://usetrmnl.com/images/plugins/weather/wi-raindrops.svg">
          <span class="value value--xxsmall mr--1">{{ daily_uv_index[i] | round }}</span>
          <img class="weather-icon-mini" src="https://usetrmnl.com/images/plugins/weather/wi-rain.svg" />
          <span class="value value--xxsmall">{{ daily_rain_prob[i] | round }}%</span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="title_bar">
  <img class="image" src="https://usetrmnl.com/images/plugins/weather--render.svg">
  <h1 class="title">OpenWeather Forecast</h1>
  <span class="instance">{{ trmnl.plugin_settings.custom_fields_values.location_name }}</span>
</div>